<a href="https://colab.research.google.com/github/OuardiFatiha/ml_sample_project/blob/main/.ipynb_checkpoints/introd_to_pandas-checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
# saries datatype
colours=pd.Series(["Red","Blue","White"])

In [ ]:
# 1-dimesional
colours

0      Red
1     Blue
2    White
dtype: object

In [ ]:
# DataFrame=2-dimensional
# takes python a dictionary
df=pd.DataFrame({"Car make": (pd.Series(["BMW","Toyota","Honda"])), "Colour": colours})
df

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [ ]:
# Import data
#from google.colab import files
#uploaded = files.upload()
car_sales=pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

##  Describe data

In [ ]:
# Atrribute
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [ ]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [ ]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

In [ ]:
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [ ]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [ ]:
car_sales.mean()

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [ ]:
car_sales.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [ ]:
car_sales["Doors"].sum()

40

In [ ]:
len(car_sales)

10

## Viewing and selecting data

In [2]:
car_sales.head()

NameError: ignored

In [3]:
car_sales.tail()

NameError: ignored

In [4]:
animals=pd.Series(["cat","dog","snake","panda"],index=[7,5,3,3])

In [5]:
animals

7      cat
5      dog
3    snake
3    panda
dtype: object

In [6]:
# loc for index
animals.loc[3]

3    snake
3    panda
dtype: object

In [7]:
# iloc for postion
animals.iloc[0]

'cat'

In [8]:
car_sales.loc[2]

NameError: ignored

In [ ]:
car_sales.iloc[2]

In [ ]:
car_sales.Make

In [ ]:
car_sales['Make']

In [ ]:
car_sales[car_sales["Make"]=="Toyota"]

In [ ]:
car_sales[car_sales["Odometer (KM)"]>10000]

In [ ]:
#Wrong syntax
car_sales.Odometer (KM)

In [ ]:
# Column from Series
seats_column = pd.Series([5,5,5,5,5,5])

In [ ]:
# New column called seats
car_sales["Seats"] = seats_column

In [ ]:
car_sales["Seats"].fillna(5,inplace=True)

In [ ]:
# Column from python list
fuel_economy = [7.5,9.2,5.0,9.6,8.7,4.7,7.6,8.7,3.0,4.5]
car_sales["Fuel per 100KM"]=fuel_economy
car_sales

In [ ]:
car_sales["Total fuel used (L)"] = car_sales["Odometer (KM)"]/100 * car_sales["Fuel per 100KM"]
car_sales

In [ ]:
# Create a column from a single value
car_sales["Number of wheels"]=4
car_sales["Passed road safety"]=True
car_sales.drop("Total fuel used (L)", axis=1,inplace=True) # axis=1 for column

In [ ]:
car_sales

In [ ]:
car_sales_shuffled = car_sales.sample(frac=1)

In [ ]:
car_sales_shuffled

In [ ]:
# Only 20% of the data
car_sales_shuffled.sample(frac=0.2)

In [ ]:
car_sales_shuffled.reset_index(drop=True, inplace=True)

In [ ]:
car_sales_shuffled

In [ ]:
car_sales["Odometer (KM)"] = car_sales["Odometer (KM)"].apply(lambda x: x/1.6)

In [ ]:
car_sales

## More on DataFrames


One of the main purposes of pandas is to deal with tabular data,

In [9]:
df = pd.DataFrame({'c1':[0, 1, 2, 3], 'c2':[5, 6, 7, 8]}, index=['r1', 'r2', 'r3', 'r4'])

row_df = pd.DataFrame([[9,9]],  index=['r5'], columns=['c1', 'c2'])

df_app = df.append(row_df)
df_drop = df_app.drop(labels='r2')

In [10]:
# conbining 2 Dataframes
def concat_rows(df1, df2):
  row_concat = pd.concat([df1, df2])
  return row_concat
  pass

In [11]:
def concat_cols(df1, df2):
  col_concat = pd.concat([df1, df2], axis=1)
  return col_concat
  pass

In [12]:
def merge_dfs(df1, df2):
  merged_df = pd.merge(df1, df2)
  return merged_df
  pass